* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #fff
}

nav a:hover {
    color: green
}


/* public/css/style.css */
body {
  margin: 0;
  font-family: Arial;
}

.header, .footer {
  background: #333;
  color: white;
  padding: 10px;
}

.header a {
  color: white;
  margin-right: 15px;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 10px;
}

.content {
  padding: 20px;
  flex: 1;
}
